<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>

  <body>
	<div class="container"> 
		<h1>Coronavirus Tracker Application</h1>
		<p>Essa aplicação lista o número de casos reportados pelo mundo.</p>
	  
		<div class="jumbotron" style="background-color: #e2e9ec">
			<h1 class="display-4" th:text="${totalReportedCases}"></h1>
			<p class="lead">Total de casos reportados</p>
			<hr class="my-4">
			<p>
				<span>Novos casos reportados anteriormente:</span>
				<span th:text="${totalNewCases}"></span>
			</p>

		</div>
	
		<table class="table">
			<tr>
				<th>País</th>
				<th>Cidade</th>
		        <th>Número total de casos reportados</th>
		        <th>Mudanças desde o último dia</th>
		      </tr>
		      
		      <tr th:each="locationStat : ${locationStats}">
		      	<td th:text="${locationStat.country}"></td>    
		        <td th:text="${locationStat.state}"></td>
		        <td th:text="${locationStat.latestTotalCases}">0</td>
		        <td th:text="${locationStat.diffFromPrevDay}">0</td>
		      </tr>
		      
		</table>
  	</div>  
  </body>

</html>